<!DOCTYPE html>
html(lang="en")

    include head.pug
    body
        include _blocks.pug

        script(src="js/jquery.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/menuspy.min.js")
        script(src="js/wow.min.js")
        script(src="js/main.js")