.photos
    min-height: 1000px
    width: 100%
    flex-direction: column

    &-item
        min-height: 500px

        &-container
            +container
            flex-direction: column

        &__camera
            background: $photosCameraBg

        &-img,
        &-descr
            width: 100%
            min-height: 500px

        &-img
            justify-content: center
            align-items: center

        &-descr
            text-align: center
            flex-direction: column
        
        &-title
            font-size: $font60px
            +RalewayExtraLight
            color: $textColor
            margin-top: 80px
            margin-bottom: 80px

        &-text
            +ProximaNovaRegular
            font-size: $font18px
            color: $textColor
            margin: 0
            padding-left: 10%
            padding-right: 10%
            line-height: $font22px

        &-button
            +button
            margin-top: 80px
            margin-bottom: 40px
            align-self: center

    +extralarge
        min-height: 1400px

        &-item
            min-height: 700px

            &-container
                flex-direction: row

                &__mac
                    flex-direction: row-reverse
            &-img
                width: 50%
                height: auto

                &__camera
                    height: 456px
                    width: 501px

                &__laptop
                    height: 418px
                    width: 576px

            &-title
                margin-top: 170px

            &-text
                padding: 0

            &-descr
                width: 50%
                height: 100%
                text-align: left
                flex-direction: column

            &-button
                align-self: flex-start
                margin-bottom: 0