.try
    min-height: 760px
    width: 100%
    background: url('../img/tryBg.jpg')
    background-position: center

    &-container
        +container
        min-height: 760px
        flex-direction: column
        justify-content: center
        align-items: center

    &-title
        display: flex
        color: $white
        font-size: $font60px
        +RalewayThin
        margin-top: 0
        margin-bottom: 110px
        

        &__span
            +RalewayBold

        &__symu

    &-button
        +button
        height: 50px
        width: 200px
