@mixin RalewayLight {
    font-family: 'Raleway-Light', sans-serif;
}
@mixin RalewayRegular {
    font-family: 'Raleway-Regular', sans-serif;
}
@mixin RalewayBold {
    font-family: 'Raleway-Bold', sans-serif;
}
@mixin RalewayMedium {
    font-family: 'Raleway-Medium', sans-serif;
}
@mixin RalewayExtraLight {
    font-family: 'Raleway-ExtraLight', sans-serif;
}
@mixin RalewayThin {
    font-family: 'Raleway-Thin', sans-serif;
}

@mixin ProximaNovaRegular {
    font-family: 'ProximaNova-Regular', sans-serif;
}
@mixin ProximaNovaLight {
    font-family: 'ProximaNova-Light', sans-serif;
}