section.about
    a(name="about")
    .about-container
        h2.about-title.title About us
        p.about-text.pubText Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

        .about-content
            .about-content-item.wow.fadeIn(data-wow-delay="0s")
                .about-content-item-round
                    svg.about-content-item-icon.svg-rocket
                        use(xlink:href="img/sprite.svg#rocket")
                h3.about-content-item-title Lorem ipsum
                p.about-content-item-text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

            .about-content-item.wow.fadeIn(data-wow-delay="0.1s")
                .about-content-item-round
                    svg.about-content-item-icon.svg-atom
                        use(xlink:href="img/sprite.svg#atom")
                h3.about-content-item-title Lorem ipsum
                p.about-content-item-text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

            .about-content-item.wow.fadeIn(data-wow-delay="0.2s")
                .about-content-item-round
                    svg.about-content-item-icon.svg-activity
                        use(xlink:href="img/sprite.svg#activity")
                h3.about-content-item-title Lorem ipsum
                p.about-content-item-text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

            .about-content-item.wow.fadeIn(data-wow-delay="0.3s")
                .about-content-item-round
                    svg.about-content-item-icon.svg-cap
                        use(xlink:href="img/sprite.svg#cap")
                h3.about-content-item-title Lorem ipsum
                p.about-content-item-text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

        a.about-button.wow.fadeIn Learn more
