header.header
    a(name="home")
    .header-slider#headerSlider
        .header-slider-item
            .header-slider-item-content
                h2.header-slider-item-title
                    |
                    span.header-slider-item-title__span Alecto &#32;
                    | is simple PSD Template
                    
                p.header-slider-item-text Nam varius accumsan elementum aliquam
                a.header-slider-item-btn Learn more
            img(src="img/headerBg/headerBg.jpg" alt="headerBg.jpg").header-slider-item-image

        .header-slider-item
            .header-slider-item-content
                h2.header-slider-item-title
                    |
                    span.header-slider-item-title__span Alecto &#32;
                    | is simple PSD Template
                    
                p.header-slider-item-text Nam varius accumsan elementum aliquam
                a.header-slider-item-btn Learn more
            img(src="img/headerBg/headerBg_1.jpg" alt="headerBg_1.jpg").header-slider-item-image

        .header-slider-item
            .header-slider-item-content
                h2.header-slider-item-title
                    |
                    span.header-slider-item-title__span Alecto &#32;
                    | is simple PSD Template
                    
                p.header-slider-item-text Nam varius accumsan elementum aliquam
                a.header-slider-item-btn Learn more
            img(src="img/headerBg/headerBg_2.jpg" alt="headerBg.jpg").header-slider-item-image

        .header-slider-item
            .header-slider-item-content
                h2.header-slider-item-title
                    |
                    span.header-slider-item-title__span Alecto &#32;
                    | is simple PSD Template
                    
                p.header-slider-item-text Nam varius accumsan elementum aliquam
                a.header-slider-item-btn Learn more
            img(src="img/headerBg/headerBg_3.jpg" alt="headerBg.jpg").header-slider-item-image

        .header-slider-item
            .header-slider-item-content
                h2.header-slider-item-title
                    |
                    span.header-slider-item-title__span Alecto &#32;
                    | is simple PSD Template
                    
                p.header-slider-item-text Nam varius accumsan elementum aliquam
                a.header-slider-item-btn Learn more
            img(src="img/headerBg/headerBg_4.jpg" alt="headerBg.jpg").header-slider-item-image