section.map
    .map-container
        .map-content
            h3.map-content-title Dolor sit amet
            p.map-content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere. Pellentesque hendrerit suscipit mi eu lobortis. Curabitur consectetur enim id elementum accumsan. Quisque metus purus, iaculis id tincidunt non, blandit quis sapien. 
            a.map-content-button Learn more
        .map-image
            img(src="img/map.png", alt="map.png").map-image-img