nav.navigation
    .navigation-wrapper
        span.navigation-logo Alecto
        ul.navigation-list
            li.navigation-list-item
                a.navigation-list-link(href="#") HOME
            li.navigation-list-item
                a.navigation-list-link(href="#") ABOUT
            li.navigation-list-item
                a.navigation-list-link(href="#") WORK
            li.navigation-list-item
                a.navigation-list-link(href="#") SERVICES
            li.navigation-list-item
                a.navigation-list-link(href="#") BLOG
            li.navigation-list-item
                object(data="img/svg/search.svg", type="image/svg+xml").navigation-list-item_icon

        .navigation-button
            .navigation-button-item
            .navigation-button-item
            .navigation-button-item          