nav.navigation#navigation
    .navigation-container
        span.navigation-logo Alecto
        ul.navigation-list#navigationList
            li.navigation-list-item
                a(href="#home").navigation-list-link Home
            li.navigation-list-item
                a(href="#about").navigation-list-link About
            li.navigation-list-item
                a(href="#work").navigation-list-link Work
            li.navigation-list-item
                a(href="#services").navigation-list-link Services
            li.navigation-list-item
                a(href="#pricing").navigation-list-link Blog
            li.navigation-list-item#searchIcon
                svg.navigation-list-icon
                    use(xlink:href="img/sprite.svg#search")
                
        .navigation-button#navBtn
            .navigation-button-item
            .navigation-button-item
            .navigation-button-item
