section.opinions
    .opinions-container
        .opinions-slider#opinionSlider
            .opinions-slider-item
                img(src="img/avatar.png").opinions-slider-item-img
                h3.opinions-slider-item-title
                    span.opinions-slider-item-title__span Alecto 
                    | lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p.opinions-slider-item-text Adam Czajkowski, CEO&amp;Founder at symu.co
            .opinions-slider-item
                img(src="img/avatar.png").opinions-slider-item-img
                h3.opinions-slider-item-title
                    span.opinions-slider-item-title__span Alecto 
                    | lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p.opinions-slider-item-text Adam Czajkowski, CEO&amp;Founder at symu.co
            .opinions-slider-item
                img(src="img/avatar.png").opinions-slider-item-img
                h3.opinions-slider-item-title
                    span.opinions-slider-item-title__span Alecto 
                    | lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p.opinions-slider-item-text Adam Czajkowski, CEO&amp;Founder at symu.co
            .opinions-slider-item
                img(src="img/avatar.png").opinions-slider-item-img
                h3.opinions-slider-item-title
                    span.opinions-slider-item-title__span Alecto 
                    | lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p.opinions-slider-item-text Adam Czajkowski, CEO&amp;Founder at symu.co
            .opinions-slider-item
                img(src="img/avatar.png").opinions-slider-item-img
                h3.opinions-slider-item-title
                    span.opinions-slider-item-title__span Alecto 
                    | lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p.opinions-slider-item-text Adam Czajkowski, CEO&amp;Founder at symu.co
