section.photos
    a(name="work")
    .photos-item.photos-item__camera
        .photos-item-container
            .photos-item-img.wow.slideInLeft(data-wow-offset="150", data-wow-delay="0.1s")
                img(src="img/camera.png", alt="camera.png").photos-item-img__camera
            .photos-item-descr.wow.fadeIn(data-wow-offset="150", data-wow-delay="0.1s")
                h3.photos-item-title Lorem ipsum
                p.photos-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere. Pellentesque hendrerit suscipit mi eu lobortis. Curabitur consectetur enim id elementum accumsan. Quisque metus purus, iaculis id tincidunt non, blandit quis sapien. 
                a.photos-item-button Learn more
                
    .photos-item.photos-item__mac
        .photos-item-container.photos-item-container__mac
            .photos-item-img.wow.slideInRight(data-wow-offset="150", data-wow-delay="0.1s")
                img(src="img/laptop.png", alt="laptop.png").photos-item-img__laptop
            .photos-item-descr.wow.fadeIn(data-wow-offset="150", data-wow-delay="0.1s")
                h3.photos-item-title Dolor sit amet
                p.photos-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere. Pellentesque hendrerit suscipit mi eu lobortis. Curabitur consectetur enim id elementum accumsan. Quisque metus purus, iaculis id tincidunt non, blandit quis sapien. 
                a.photos-item-button Learn more