section.prising
    a(name="pricing")
    .prising-continer
        h2.prising-title.title Pricing
        p.prising-text.pubText Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

        .prising-list
            .prising-list-item
                .prising-list-item-cost
                    span.prising-list-item-cost__cost $29
                    span.prising-list-item-cost__text Lorem ipsum license
                ul.prising-list-item-list
                    li.prising-list-item-list-item Lorem ipsum dolor sit amet
                    li.prising-list-item-list-item Consectetur adipiscing elit
                    li.prising-list-item-list-item Ante sed interdum labortis
                    li.prising-list-item-list-item Est nisi efficitur lactus
                .prising-list-item-button
                    span.prising-list-item-button__text Purchase
                    svg.prising-list-item-button__icon
                        use(xlink:href="img/sprite.svg#card")

            .prising-list-item
                .prising-list-item-cost
                    span.prising-list-item-cost__cost $39
                    span.prising-list-item-cost__text Lorem ipsum license
                ul.prising-list-item-list
                    li.prising-list-item-list-item Lorem ipsum dolor sit amet
                    li.prising-list-item-list-item Consectetur adipiscing elit
                    li.prising-list-item-list-item Ante sed interdum labortis
                    li.prising-list-item-list-item Est nisi efficitur lactus
                .prising-list-item-button
                    span.prising-list-item-button__text Purchase
                    svg.prising-list-item-button__icon
                        use(xlink:href="img/sprite.svg#card")

            .prising-list-item
                .prising-list-item-cost
                    span.prising-list-item-cost__cost $49
                    span.prising-list-item-cost__text Lorem ipsum license
                ul.prising-list-item-list
                    li.prising-list-item-list-item Lorem ipsum dolor sit amet
                    li.prising-list-item-list-item Consectetur adipiscing elit
                    li.prising-list-item-list-item Ante sed interdum labortis
                    li.prising-list-item-list-item Est nisi efficitur lactus
                .prising-list-item-button
                    span.prising-list-item-button__text Purchase
                    svg.prising-list-item-button__icon
                        use(xlink:href="img/sprite.svg#card")

            .prising-list-item
                .prising-list-item-cost
                    span.prising-list-item-cost__cost $59
                    span.prising-list-item-cost__text Lorem ipsum license
                ul.prising-list-item-list
                    li.prising-list-item-list-item Lorem ipsum dolor sit amet
                    li.prising-list-item-list-item Consectetur adipiscing elit
                    li.prising-list-item-list-item Ante sed interdum labortis
                    li.prising-list-item-list-item Est nisi efficitur lactus
                .prising-list-item-button
                    span.prising-list-item-button__text Purchase
                    svg.prising-list-item-button__icon
                        use(xlink:href="img/sprite.svg#card")
