section.services
    a(id="services")
    .services-container
        h2.services-title.title.wow.fadeIn Our Services
        p.services-text.pubText.wow.fadeInw Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

        .services-things
            .services-things-item.wow.slideInLeft(data-wow-delay="0.1s")
                .services-things-item-roundCon
                    .services-things-item-round
                        svg.services-things-item-round-icon__portfolio
                            use(xlink:href="img/sprite.svg#portfolio")
                .services-things-item-descr
                    h3.services-things-item-title Portfolio
                    p.services-things-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere.
            
            .services-things-item.wow.slideInRight(data-wow-delay="0.1s")
                .services-things-item-roundCon
                    .services-things-item-round
                        svg.services-things-item-round-icon__design
                            use(xlink:href="img/sprite.svg#design")
                .services-things-item-descr
                    h3.services-things-item-title Design
                    p.services-things-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere.
            
            .services-things-item.wow.slideInLeft(data-wow-delay="0.1s")
                .services-things-item-roundCon
                    .services-things-item-round
                        svg.services-things-item-round-icon__branding
                            use(xlink:href="img/sprite.svg#branding")
                .services-things-item-descr
                    h3.services-things-item-title Branding
                    p.services-things-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere.

            .services-things-item.wow.slideInRight(data-wow-delay="0.1s")
                .services-things-item-roundCon
                    .services-things-item-round
                        svg.services-things-item-round-icon__rocket
                            use(xlink:href="img/sprite.svg#rocket")
                .services-things-item-descr
                    h3.services-things-item-title Development
                    p.services-things-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere.


            
