section.team
    h2.team-title.title.wow.fadeIn Meet our team
    p.team-text.pubText.wow.fadeIn Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

    .team-container
        .team-item.wow.fadeIn(data-wow-delay="0.0s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.05s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.1s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.15s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.2s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.25s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.3s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.35s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.4s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item.wow.fadeIn(data-wow-delay="0.45s")
            img(src="img/team.jpg", alt="team.jpg").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe