section.team
    h2.team-title.title Meet our team
    p.team-text.pubText Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

    .team-container
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe
        .team-item
            img(src="", alt="").team-item-img
            .team-item-hover
                h4.team-item-hover__text John Doe