section.try
    .try-container.wow.fadeIn(data-wow-delay="0.1s")
        h2.try-title
            | Try our&nbsp; 
            span.try-title__span PSD template&nbsp;
            | on symu.co

        a(href="#").try-button Symu.co