section.try
    .try-container
        h2.try-title
            | Try our&nbsp; 
            span.try-title__span PSD template&nbsp;
            | on&nbsp;
            span.try-title__symu symu.co

        a(href="#").try-button Symu.co